<div class="login-container">
  <h1>Connect with<br>
    LINE Bot</h1>
  <%= link_to user_line_omniauth_authorize_path, class: "btn btn-outline-success my-3" do %>
    <i class="fab fa-line"></i> LINE Login
  <% end %>
</div>
