<div class="login-container">
  <h1>Connect with<br>
    LINE Bot</h1>
  <%= link_to user_line_omniauth_authorize_path, class: "btn btn-outline-success my-3" do %>
    <i class="fab fa-line"></i> LINE Login
  <% end %>
  <div class="line-bc">
    <%# 右コメント始 %>
    <div class="mycomment">
      <p>
        ポチ
      </p>
    </div>
    <%# 右コメント終 %>
    <%# 左コメント始 %>
    <div class="bot-reply">
      <div class="faceicon">
        <%= image_tag 'capital_b.png' %>
      </div>
      <div class="chatting">
        <div class="says">
          <%= image_tag 'dog_real_shiba1.png' %>
        </div>
      </div>
    </div>
    <%# 左コメント終 %>
  </div>
